*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
div.map{
    background-color: lightseagreen;
    border: 2px solid white;
    width: 32rem;
    height: 28rem;
    padding: 1rem;
    border-radius: 1rem;
}

div.form2{
    background-color: white;
    width: 34rem;
    height: 5rem;
    padding: 4px;
    margin-top: 8px;
    border: 2px solid black;
    border-radius: 1rem;
}
a,h1{
    color: black;
    margin: 1rem;
}

iframe{
    width: 28rem;
    height: 14rem;
    margin: 1rem;
}
fieldset{
    padding: 1rem;
    background-color: lightseagreen;
    border-radius: 1rem;
    border-color: white;
}
input.cajon1y2{
    height: 2rem;
    width: 34rem;
    margin-bottom: 8px;
    padding: 6px;
    border-radius: 1rem;
    border: 2px solid black;
}
select{
    padding: 4px;
    border: 2px solid black;
    border-radius: 1rem;
}
input.cajon3{
    height: 6rem;
    width: 34rem;
    margin-top: 8px;
    padding: 6px;
    border: 2px solid black;
    border-radius: 1rem;
}
legend{
    height: 1.7rem;
    width: 6rem;
    color: black;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    padding: 3px;
    border-radius: 1rem;
}
::placeholder{
    color: black;
}
#button{
    width: 4rem;
    padding: 5px;
    margin: 3px;
    border: 2px solid black;
    border-radius: 1rem;
}
#button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
@media only screen and (min-width:425px) and (max-width:768px){
    body{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }
    div.map{
        flex-direction: column;
        background-color: red;
        width: 25rem;
        height: 40rem;
    }
    iframe{
        width: 20rem;
        height: 26rem;
        margin: 1rem;
    }
    fieldset{
        padding: 1rem;
        background-color: red;
        border-radius: 1rem;
        border-color: white;
        height: 30rem;
        width: 15rem;
    }
    a,h1{
        color: cyan;
        margin: 1rem;
    }
    .select{
        display: none;
    }
}
@media only screen and (min-width:320px) and (max-width:425px){
    body{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }
    div.map{
        flex-direction: column;
        background-color: green;
        width: 25rem;
        height: 40rem;
    }
    iframe{
        width: 20rem;
        height: 26rem;
        margin: 1rem;
    }
    fieldset{
        padding: 1rem;
        background-color: green;
        border-radius: 1rem;
        border-color: white;
    }
    a,h1{
        color: yellow;
        margin: 1rem;
    }
    .select{
        display: none;
    }
    .form2{
        display: none;
    }
    .cajon3{
        display: none;
    }
}